<!DOCTYPE html>
<html lang="nl-NL">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMDay.snooze</title>

    <link href="assets/main.css" rel="stylesheet">
  </head>
  <body class="container-fluid">
    <header class="row page-header">
      <h1 class="col-md-4">CMDay.Snooze</h1>
      <div class="cmday-facebook-likes col-md-2">
        <div class="btn-group btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-primary"><span class="badge">37</span> <span class="glyphicon glyphicon-thumbs-up"></span></button>
          </div>
        </div>
      </div>
      <nav class="col-md-6">
        <ul class="nav nav-pills nav-justified">
          <li><a href="#">Over CMDay.snooze</a></li>
          <li><a href="#">Download</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="cmday-banner row jumbotron">
        <figure class="col-md-4 media">
          <div class="media-center">
            <img src="images/cmday-phone.png" alt="CMDay.snooze phone app">
          </div>
        </figure>
        <div class="col-md-8">
          <h1>Ontwaak met meer kennis</h1>
          <p>Maak je CMDay</p>
          <div>
            <a href="#play-store"><img src="" alt="play-store"></a>
            <a href="#itunes-store"><img src="" alt="itunes-store"></a>
          </div>
          <div>
            <a href=""></a>
          </div>
        </div>
      </section>
      <section class="row">
        <article class="col-md-4">
          <div class="media">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <div class="media-body">
              <h2 class="media-heading">Op tijd opstaan</h2>
              <p>
                Dingetje uitleg
                <a href="#">Meer dingetje...</a>
              </p>
            </div>
          </div>
        </article>
        <article class="col-md-4">
          <div class="media">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <div class="media-body">
              <h2 class="media-heading">Blijf op de hoogte</h2>
              <p>
                Dingetje uitleg
                <a href="#">Meer dingetje...</a>
              </p>
            </div>
          </div>
        </article>
        <article class="col-md-4">
          <div class="media">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <div class="media-body">
              <h2 class="media-heading">Deel met anderen</h2>
              <p>
                Dingetje uitleg
                <a href="#">Meer dingetje...</a>
              </p>
            </div>
          </div>
        </article>
      </section>
    </main>

    <footer>
      <div class="row">
        <address class="col-md-5 col-md-offset-1"><a href="mailto:cmday.snooze@gmail.com">CMDay</a></address><small class="col-md-5">&copy; 2014</small>
      </div>

    </footer>

    <script src="assets/main.js"></script>
  </body>
</html>