<!DOCTYPE html>
<html lang="nl-NL">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMDay.snooze</title>

    <link href="assets/main.css" rel="stylesheet">
  </head>
  <body>
    <header class="page-header">
      <h1>Hallo wereld!</h1>
      <nav class="navbar right">
        <ul class="nav nav-pills">
          <li><a class="button" href="">Download</a></li>
          <li><a class="button" href="">Over CMDay</a></li>
          <li><a class="button" href="">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="jumbotron">
        <figure class="media">
          <div  class="media-left">
            <img src="" alt="Device pic">
          </div>
          <div class="media-body">
            <h1 class="media-heading">Ontwaak met meer kennis</h1>
            <p>Maak je CMDay</p>
          </figure>
        </div>
      </section>
    </main>

    <footer>
      <small><address><a href="mailto:cmday.snooze&gmail.com">CMDay</a></address> &copy; 2014</small>
    </footer>

    <script src="assets/main.js"></script>
  </body>
</html>